{% block icon_widget %}
    {% set object = form.parent.vars.value %}
    {% set filename = object ? object.filename : '' %}
    {% if filename %}

        <a href="#" data-toggle="modal" data-target="#imagemodal" img-data="true" class="icon-type-widget">
            <input type="hidden" value="{{ object.fileOriginalName }}">

            <img  height="50" width="50" src="{{ object.downloadLink }}">
        </a>
        <a href="{{ path('remove_image', {'filename' : filename, 'object' : object.className  }) }}">
            <span class="glyphicon glyphicon-remove">Remove</span></a>
    {% else  %}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {% endif %}

{% endblock icon_widget %}