{% extends 'base.html.twig' %}

{% set citation = [] %}
{% set banner = [] %}
{% set asphaltType = [] %}
{% set asphaltType = [] %}
{% set metaTitle = [] %}
{% set metaDescription = [] %}


{% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':data.getClassName, 'objectId':data.id } ))|json_decode %}
    {% for key, setting in settings %}
        {% if 'citation' in setting.slug %}
            {% set citation = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% elseif 'banner' in setting.slug %}
            {% set banner = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% elseif 'meta-title' in setting.slug %}
            {% set metaTitle = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% elseif 'meta-description' in setting.slug %}
            {% set metaDescription = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% endif %}
    {% endfor %}

{% block meta_seo %}
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <meta content="http://merx.usavin.com" name="author"/>
    <meta property="og:title" content="{{ metaTitle|length >0 ? metaTitle.value : 'asphalt-moscow.ru' }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.asphalt-moscow.ru"/>
    <meta property="og:image" content="{{- 'http://'~host -}}{{ asset(banner|length >0 ? banner.downloadLink : 'bundles/app/img/asphalt-kiev-big-black.png') }}"/>
    <meta property="og:description"
          content="{{ metaDescription|length >0 ? metaDescription.value : 'asphalt-moscow.ru' }}"/>
    <meta property="og:image:width" content="1800"/>
    <meta property="og:image:height" content="945"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/parent.css') }}" id="theme-change" class="style-change color-change">

{% endblock %}
{% block title %}{{ data.name|capitalize }}{% endblock %}

{% block header %}

    <header class="parent-header" style="background: url({{ asset(banner|length >0 ? banner.downloadLink : 'bundles/app/img/header4.jpg')|lbImageFilter('banner_home') }}) no-repeat center top fixed; background-size: cover">
        <div class="bg-overlay pattern">
            {% block menu %}
                {{ render(controller('AppBundle:Rest/ParentRest:getMenu')) }}
            {% endblock menu %}
            {% block main_citation %}
            <section class="intro">
                <div class="intro-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 page-name">
                                <h1 >{{ data.name|capitalize }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endblock %}
        </div>
    </header>
{% endblock header %}

{% block content %}

    <section id="services" class="section-content">
        <div class="container">
            <div class="row mbxxl">
                <div class="col-lg-12">
                    <h2 class="section-heading">{{ data.name|capitalize }}</h2>
                    <div class="line"></div>
                    <p class="section-description">{% if citation|length >0 %}{{- citation.value -}}{% endif %}</p>
                </div>
            </div>

            <div class="row">
            {% for key, type in asphalting  %}
                {% if key%4==0 and key!=0 %}</div><div class="row">{% endif %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="{{ path('asphalt_type', {'slug':type.slug}) }}">
                            <img src="{{ asset(type.downloadLink)|lbImageFilter('grid_list') }}"/>
                        </a>
                        <div class="caption"><h3>{{ type.title|capitalize }}</h3>

                            <p>{{ type.description|slice(0, 150) ~ '...' }}</p>

                                {% if type.isSingle == true %}

                                <ol class="listing">
                                    {% for p in type.price %}
                                    <li>
                            <p>Цена {{ p.layer ? 'за '~p.layer : '' }} {{ p.unit ? p.unit : '' }} {{ p.value }} р.</p>
                            </li>
                            {% endfor %}
                            </ol>

                            {% else %}
                                <ol class="listing">
                                    {% for asphalt in type.asphalting %}
                                        <li>
                                            <a href="{{ path('asphalt_single', {'slugType':type.slug, 'slugAsphalt':asphalt.slug }) }}">{{ asphalt.name|capitalize }} </a>
                                            {#<p>{{ asphalt.description|slice(0, 150) ~ '...' }}</p>#}
                                        </li>
                                    {% endfor %}
                                </ol>
                            {% endif %}
                            <p><a href="{{ path('asphalt_type', {'slug':type.slug}) }}" role="button" class="btn btn-primary">Подробно</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}