<!DOCTYPE html>
<html lang="ru">

{% set host = app.request.server.get('HTTP_HOST') %}
<!-- Mirrored from andriy-differ.tk/elenor/home-particlesground.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 24 Dec 2017 13:22:08 GMT -->
<head>
    {% block meta %}
       {# <meta name="robots" content="noindex"/>
        <meta name="robots" content="nofollow"/>
        <meta name="robots" content="none"/>
        <meta name="robots" content="noindex, nofollow"/>
        <meta name="robots" content="noarchive"/>
        <meta name="robots" content="noyaca"/>
        <meta name="googlebot" content="noindex">
        <meta name="yandex" content="noindex"/>#}


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-transcluent">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-title" content="Асфальтирование дорог в Москве">
        <meta name="application-name" content="Асфальтирование дорог в Москве">
        <meta name="robots" content="index,follow">
        <meta name="googlebot" content="index,follow">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        {% block meta_seo %}
            <meta content="" name="description"/>
            <meta content="" name="keywords"/>
            <meta content="http://merx.usavin.com" name="author"/>
            <meta property="og:title" content="Асфальтирование дорог в Москве"/>
            <meta property="og:type" content="website"/>
            <meta property="og:url" content="http://www.asphalt-moscow.ru"/>
            <meta property="og:image" content="{{- 'http://'~host -}}{{- asset('bundles/app/img/asphalt-kiev-big-black.png') -}}"/>
            <meta property="og:description"
                  content="Асфальтирование дорог в Москве"/>
            <meta property="og:image:width" content="1800"/>
            <meta property="og:image:height" content="945"/>
        {% endblock %}
    {% endblock meta %}
    <title>{% block title %}АСФАЛЬТ МОСКВА{% endblock %}</title>

    {% block stylesheets %}

        <!--Loading bootstrap css-->
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">

        {% stylesheets
        'template/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css'
        'template/vendors/font-awesome/css/font-awesome.min.css'
        'template/vendors/bootstrap/css/bootstrap.min.css'

        'template/vendors/animate.css/animate.css'
        'template/vendors/jquery-lightbox/css/lightbox.css'
        'template/vendors/owl-carousel/owl-carousel/owl.carousel.css'
        'template/vendors/owl-carousel/owl-carousel/owl.theme.css'
        'template/vendors/jquery-circliful/css/jquery.circliful.css'
         output="bundles/app/css/style.css"

        filter='cssrewrite'
        %}

        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/app/css/style.css') }}"/>#}
        <link type="text/css" rel="stylesheet" href="{{ asset('template/css/themes/style1/orange-blue.css') }}" id="theme-change" class="style-change color-change">
        <link type="text/css" rel="stylesheet" href="{{ asset('template/frontend/assets/css/themes/orange.css') }}" id="theme-change" class="style-change color-change">

    {% endblock %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/custom-style.css') }}" id="theme-change" class="style-change color-change">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom" class="frontend-one-page dark-layout">
<!--BEGIN PAGE LOADER-->
{#<div id="page-loader"><img src="http://swlabs.co/images/icon/preloader.gif" alt="" />#}
{#</div>#}
<!--END PAGE LOADER-->
<!--BEGIN BACK TO TOP--><a id="tocall" href="tel:+79032708285"><i class="fa fa-phone"></i></a>
<!--END BACK TO TOP-->
<!--BEGIN CONTENT-->
{#{% block navebar %}#}
    {#<!-- Navigation -->#}
    {#{{ render(controller('AppBundle:Rest/ParentRest:getMenu')) }}#}
{#{% endblock %}#}
{% block header %}
    <header class="bg-video">
        <div class="bg-overlay pattern">
            {% block menu %}
                {{ render(controller('AppBundle:Rest/ParentRest:getMenu')) }}
            {% endblock menu %}
            {% block main_citation %}
            <section class="intro">
                <div class="intro-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="slide-intro">
                                    <h1>We love<div id="rotate"><div>Creativity</div><div>Innovation</div><div>Clean & Modern</div></div></h1>
                                    <p class="intro-text">We have been working very hard to design the new version of our site. Finally it's ready. It comes with a lot of new features</p>
                                </div>
                                <div class="section-next page-scroll"><a href="#about" class="btn btn-circle"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endblock %}
        </div>
    </header>
{% endblock header %}

{% block content %}

{% endblock %}
{% block subscribe %}

{% endblock %}

{% block contact %}
    <!-- Form -->
    {{ render(controller('AppBundle:Main:contact')) }}

    <!-- Google map -->
   {# <section id="contact" class="section-content">
        <div class="container">
            <div class="row mbxxl">
                <div class="col-lg-12">
                    <h2 class="section-heading"><span>Contact</span> Us</h2>
                    <div class="line"></div>
                    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div id="map" data-wow-delay=".1s" style="width: 100%;height: 400px;" class="wow fadeIn"></div>
        <div class="container">
            <form action="#">
                <div class="row mtxxl">
                    <div class="col-lg-6">
                        <h3 class="title">О НАС</h3>
                        <table class="tb-info-us table-striped mbl">
                            <tbody>
                            <tr>
                                <td>Company:</td>
                                <td>Swlabs</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>contact@email.com</td>
                            </tr>
                            <tr>
                                <td>Fax:</td>
                                <td>(123) 456-7890</td>
                            </tr>
                            <tr>
                                <td>Adress:</td>
                                <td>8186 Mckinley Ave</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>(987) 654-3210</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="social"><a href="#" class="ico-socialize-twitter1 ico-socialize type2 ico-lg"><i class="fa fa-twitter"></i></a><a href="#" class="ico-socialize-facebook1 ico-socialize type2 ico-lg"><i class="fa fa-facebook"></i></a><a href="#" class="ico-socialize-google2 ico-socialize type2 ico-lg"><i class="fa fa-google-plus"></i></a><a href="#" class="ico-socialize-dribbble1 ico-socialize type2 ico-lg"><i class="fa fa-twitter"></i></a><a href="#" class="ico-socialize-youtube1 ico-socialize type2 ico-lg"><i class="fa fa-youtube"></i></a><a href="#" class="ico-socialize-pinterest ico-socialize type2 ico-lg"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 mbm">
                                <input type="text" placeholder="Full Name" class="form-control input-lg" />
                            </div>
                            <div class="col-lg-6 mbm">
                                <input type="text" placeholder="E-mail Address" class="form-control input-lg" />
                            </div>
                            <div class="col-lg-12">
                                <input type="text" placeholder="Subject" class="form-control input-lg" />
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Message" rows="5" class="form-control input-lg mtm"></textarea>
                            </div>
                            <div class="col-lg-4">
                                <button type="submit" class="btn btn-primary btn-block">Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>#}
{% endblock %}
{% block footer %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <p class="text-center">©2014 MerxForum - Responsive Development </p>
        </div>
    </footer>
{% endblock %}
<!-- Up button -->
{#<div class="up">#}
{#<div class="fa fa-angle-up"></div>#}
{#</div>#}
<!-- Up button -->
{% block js %}

    <!--END CONTENT-->
    {% javascripts
    'template/js/jquery-1.10.2.min.js'
    'template/js/jquery-migrate-1.2.1.min.js'
    'template/js/jquery-ui.js'
    'template/vendors/bootstrap/js/bootstrap.min.js'
    'template/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js'
    'template/js/html5shiv.js'
    'template/js/respond.min.js'
    'template/vendors/isotope/dist/isotope.pkgd.min.js'
    'template/vendors/jquery.hoverdir.js'
    'template/vendors/modernizr.custom.97074.js'
    'template/vendors/jquery-lightbox/js/lightbox.min.js'
    'template/vendors/owl-carousel/owl-carousel/owl.carousel.min.js'
    'template/vendors/jquery-circliful/js/jquery.circliful.min.js'
    'template/frontend/assets/js/jquery.appear.js'
    'template/frontend/assets/plugins/jquery-wow/wow.min.js'
    'template/frontend/assets/plugins/jquery-videoBG/jquery.videoBG.js'
    'template/frontend/assets/js/one-page_video.js'
    'template/frontend/assets/js/one-page_animated.js'
    'template/frontend/assets/js/jquery-text-effect.js'
    'template/js/frontend-one-page.js'
    output='bundles/app/js/base.js'
    %}

    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
    {#<script type="text/javascript" src="{{ asset('bundles/app/js/base.js') }}"></script>#}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATNztJYcZfP7Y5JJ2SREcBsw7xd6zhbbA&amp;sensor=false"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113346760-1"></script>
    {% if app.environment != 'dev' %}
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-113346760-1');
    </script>
    {% endif %}
{% endblock %}
</body>

<!-- Mirrored from andriy-differ.tk/Asphalt Kiev/home-particlesground.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 24 Dec 2017 13:22:19 GMT -->
</html>