<!doctype html>
<html lang="ru">

{% set host = app.request.server.get('HTTP_HOST') %}
<!-- Mirrored from andriy-differ.tk/elenor/home-particlesground.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 24 Dec 2017 13:22:08 GMT -->
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-transcluent">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-title" content="Asphalt Kiev">
        <meta name="application-name" content="Asphalt Kiev">
        <meta name="robots" content="index,follow">
        <meta name="googlebot" content="index,follow">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        {% block meta_seo %}
            <meta content="" name="description"/>
            <meta content="" name="keywords"/>
            <meta content="http://merx.usavin.com" name="author"/>
            <meta property="og:title" content="Асфальтирование Kiev"/>
            <meta property="og:type" content="website"/>
            <meta property="og:url" content="http://www.asphalt.kiev.ua"/>
            <meta property="og:image" content="{{- 'http://'~host -}}{{- asset('bundles/app/img/asphalt-kiev-big-black.png') -}}"/>
            <meta property="og:description"
                  content="Асфальтирование / Kiev"/>
            <meta property="og:image:width" content="1800"/>
            <meta property="og:image:height" content="945"/>
        {% endblock %}
    {% endblock meta %}
    <title>{% block title %}Asphalt Kiev!{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets 'bundles/app/fonts/font-awesome-4.7.0/css/font-awesome.min.css'
        'bundles/app/css/reset.css'
        'bundles/app/css/libs/bootstrap4-grid.css'
        'bundles/app/css/libs/owl.css'
        'bundles/app/css/main.css'
        'bundles/app/css/parent.css' output="bundles/app/css/style.css"

        filter='cssrewrite'
        %}

        {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>#}
        {% endstylesheets %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/app/css/style.css') }}"/>

    {% endblock %}

    {# {% block stylesheets %}

         <!-- Style -->
         <link rel="stylesheet" href="{{ asset('bundles/app/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
         <link rel="stylesheet" href="{{ asset('bundles/app/css/reset.css') }}">
         <link rel="stylesheet" href="{{ asset('bundles/app/css/libs/bootstrap4-grid.css') }}">
         <link rel="stylesheet" href="{{ asset('bundles/app/css/libs/owl.css') }}">
         <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
         <link rel="stylesheet" href="{{ asset('bundles/app/css/parent.css') }}">
     {% endblock %}#}
</head>
<body class="">

{#<!-- Preloader -->
<div class="preloader">
    <div class="preloader-icon relative">
        <div class="loader">
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>
</div>#}

{% block navebar %}
    <!-- Navigation -->
    {{ render(controller('AppBundle:Rest/ParentRest:getMenu')) }}
{% endblock %}
{% block header %}
    <!-- Particlesground header -->
    <header class="video-header header" >
        {#<video playsinline  autoplay loop muted class="video" id="video-bg">#}
        {#<source id="video-src" src="{{ asset('bundles/app/video/road.mp4') }}" type="video/mp4">#}
        {#</video>#}
        {#<div id="dots-canvas"></div>#}
        {#<h1>Asphalt Kiev</h1>#}
        {#<h4>Асфальтирование | Аренда спецтехники</h4>#}

    </header>
{% endblock header %}

{% block content %}

{% endblock %}
{% block subscribe %}

{% endblock %}

{% block contact %}
    <!-- Form -->
    {#{{ render(controller('AppBundle:Main:contact')) }}#}

    <!-- Google map -->
    <div class="map wide" style="height: 500px"></div>
{% endblock %}
{% block footer %}
    <!-- Footer -->
    <footer class="footer">
        <div class="bot">
            <div class="container">
                <div class="row footer-flex">
                    <div class="copy">&copy; 2017 All Rights Reserved | Asphalt Kiev</div>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"> <i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </footer>
{% endblock %}
<!-- Up button -->
{#<div class="up">#}
{#<div class="fa fa-angle-up"></div>#}
{#</div>#}
<!-- Up button -->
<div class="call">
    <a href="tel:+380681469889"><div class="fa fa-phone"></div></a>
</div>
{% block js %}

    {% javascripts
    'bundles/app/js/libs/jquery.js'
    'bundles/app/js/libs/jquery.stellar.js'
    'bundles/app/js/libs/imagesloaded.js'
    'bundles/app/js/libs/differgrid.js'
    'bundles/app/js/libs/particlesground.js'
    'bundles/app/js/libs/owl.js'
    'bundles/app/js/libs/ripple.js'
    output='bundles/app/js/base.js'
    %}

    {% endjavascripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/base.js') }}"></script>

    <script type='text/javascript'
            src='https://maps.googleapis.com/maps/api/js?key=AIzaSyATNztJYcZfP7Y5JJ2SREcBsw7xd6zhbbA&amp;'></script>
    <script src="{{ asset('bundles/app/js/scripts.js') }}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113346760-1"></script>
    {% if app.environment != 'dev' %}
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-113346760-1');
    </script>
    {% endif %}
{% endblock %}
</body>

<!-- Mirrored from andriy-differ.tk/Asphalt Kiev/home-particlesground.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 24 Dec 2017 13:22:19 GMT -->
</html>