<!DOCTYPE html>
{% block angularApp %} <html lang="ru"> {% endblock %}
<head>
    <title>{% block title %}Асфальтирование в Москве и Московской Области.{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="Работы по асфальтированию, укладки плитки, установки бортовых камней ведуться квалифицированными специалистами, которые имеют огромный опыт.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="Thu, 19 Nov 1900 08:52:00 GMT">
    <link rel="shortcut icon" href="madmin/images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="madmin/images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="madmin/images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="madmin/images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet"
          href="{{ asset('madmin/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('madmin/vendors/font-awesome/css/font-awesome.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('madmin/vendors/bootstrap/css/bootstrap.min.css') }}">
    <!--LOADING STYLESHEET FOR PAGE--><!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="{{ asset('madmin/vendors/animate.css/animate.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('madmin/vendors/jquery-lightbox/css/lightbox.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('madmin/vendors/owl-carousel/owl-carousel/owl.carousel.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('madmin/vendors/owl-carousel/owl-carousel/owl.theme.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('madmin/vendors/jquery-circliful/css/jquery.circliful.css') }}">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="{{ asset('madmin/frontend/assets/css/themes/orange.css') }}" id="theme-change" class="style-change color-change">

    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body id="glavnoie" data-spy="scroll" data-target=".navbar-custom" class="frontend-one-page dark-layout">
<!--BEGIN PAGE LOADER-->
<div id="page-loader"><img src="http://swlabs.co/images/icon/preloader.gif" alt="" />
</div>
<!--END PAGE LOADER-->
<!--BEGIN BACK TO TOP--><a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
<!--END BACK TO TOP-->
<!--BEGIN CONTENT-->

{% block body %}

{% endblock body %}

{% block footer %}
<footer>
    <div class="container">
        <p class="text-center"><a href="http://my.tuyn.am/">Developed by Rise Technologies © 2016</a></p>
    </div>
</footer>
{% endblock footer %}

{% block javascript %}



    <script src="{{ asset('madmin/js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('madmin/js/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ asset('madmin/js/jquery-ui.js') }}"></script>
    <!--loading bootstrap js-->
    <script src="{{ asset('madmin/vendors/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('madmin/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js') }}"></script>
    <script src="{{ asset('madmin/js/html5shiv.js') }}"></script>
    <script src="{{ asset('madmin/js/respond.min.js') }}"></script>
    <script src="{{ asset('madmin/vendors/isotope/dist/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('madmin/vendors/jquery.hoverdir.js') }}"></script>
    <script src="{{ asset('madmin/vendors/modernizr.custom.97074.js') }}"></script>
    <script src="{{ asset('madmin/vendors/jquery-lightbox/js/lightbox.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu6tm60TzeUo9rWpLnrQ7mrFn4JPMVje4&amp;sensor=false"></script>
    {#<script src="http://maps.google.com/maps/api/js?sensor=true"></script>#}

    {#<script src="{{ asset('madmin/vendors/gmaps/gmaps.js') }}"></script>#}
    {#<script src="{{ asset('madmin/js/page-contact.js') }}"></script>#}

    <script src="{{ asset('madmin/vendors/owl-carousel/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('madmin/vendors/jquery-circliful/js/jquery.circliful.min.js') }}"></script>
    <!--Loading script for each page-->
    <script src="{{ asset('madmin/frontend/assets/js/jquery.appear.js') }}"></script>
    <script src="{{ asset('madmin/frontend/assets/plugins/jquery-wow/wow.min.js') }}"></script>
    <script src="{{ asset('madmin/frontend/assets/plugins/jquery-videoBG/jquery.videoBG.js') }}"></script>
    {#<script src="{{ asset('madmin/frontend/assets/js/one-page_video.js') }}"></script>#}

    <script type="text/javascript">
        $(function() {
            $('.bg-video').videoBG({
                mp4:'madmin/frontend/assets/plugins/jquery-videoBG/assets/tunnel_animation.mp4',
                ogv:'madmin/frontend/assets/plugins/jquery-videoBG/assets/tunnel_animation.ogv',
                webm:'madmin/frontend/assets/plugins/jquery-videoBG/assets/tunnel_animation.webm',
                poster:'madmin/frontend/assets/plugins/jquery-videoBG/assets/tunnel_animation.jpg',
                scale:true
            });
            $('.intro, header').css('height', $(".videoBG_wrapper").height());
        });
    </script>
    <script src="{{ asset('madmin/frontend/assets/js/one-page_animated.js') }}"></script>
    <!--CORE JAVASCRIPT-->
    <script src="{{ asset('madmin/frontend/assets/js/jquery-text-effect.js') }}"></script>
    <script src="{{ asset('madmin/js/frontend-one-page.js') }}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80448216-1', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock%}
</body>
</html>