{% extends 'base.html.twig' %}

{% block body %}
    <header class="bg-video">
        <div class="bg-overlay pattern">
            {% block  menu %}
                <nav role="navigation" class="navbar navbar-custom navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button><a id="logo" href="/" class="navbar-brand"><span>Асфальт</span>Москве</a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                        {{ knp_menu_render('AppBundle:Builder:mainMenu', {'template': 'AppBundle:Menu:knp_menu.html.twig', 'currentAsLink': false, 'id':'navigation'}) }}
                    </div>
                </div>
            </nav>
            {% endblock  menu %}
            {% block home %}
                {{ render(controller('AppBundle:Default:main', { 'slug': 'glavnoie'})) }}
            {% endblock home %}
        </div>
    </header>
    {% block aboutUs %}
        {{ render(controller('AppBundle:Default:about', { 'slug': 'o-nas'})) }}
    {% endblock aboutUs %}
    {% block services %}
        {{ render(controller('AppBundle:Default:services', { 'slug': 'uslughi'})) }}
    {% endblock services %}
    <section id="banner" class="section-content section-parallax">
        <div class="bg-overlay pattern">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <h2>Асфальт цена<span> Москве </span> и Московской Области !</h2>
                        <p>Сильное техническое поддержка по асфальтирование и атенд пек техники.</p>
                    </div>
                    <div class="col-lg-2"><a href="#tsieny" class="btn btn-primary btn-outlined btn-block"><i class="fa fa-shopping-cart mrm"></i>Асфальт цена</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  {#  <section id="skills" class="section-content">
        <div class="container">
            <div class="row mbxxl">
                <div class="col-lg-12">
                    <h2 class="section-heading">Our <span>Skills</span></h2>
                    <div class="line"></div>
                    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="progress">
                        <div data-percent="70" class="progress-bar pull-right"><span>Wordpress <span class='pull-left'>70%</span></span>
                        </div>
                    </div>
                    <div class="progress">
                        <div data-percent="60" class="progress-bar pull-right"><span>Mobile Apps <span class='pull-left'>60%</span></span>
                        </div>
                    </div>
                    <div class="progress">
                        <div data-percent="80" class="progress-bar pull-right"><span>Software <span class='pull-left'>80%</span></span>
                        </div>
                    </div>
                    <div class="progress">
                        <div data-percent="50" class="progress-bar pull-right"><span>Web Desgin <span class='pull-left'>50%</span></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="progress">
                        <div data-percent="60" class="progress-bar"><span>Html & Css <span class='pull-right'>60%</span></span>
                        </div>
                    </div>
                    <div class="progress">
                        <div data-percent="90" class="progress-bar"><span>Photoshop <span class='pull-right'>90%</span></span>
                        </div>
                    </div>
                    <div class="progress">
                        <div data-percent="50" class="progress-bar"><span>Illustrator <span class='pull-right'>50%</span></span>
                        </div>
                    </div>
                    <div class="progress">
                        <div data-percent="60" class="progress-bar"><span>Photography <span class='pull-right'>60%</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="clients" class="section-content section-parallax">
        <div class="bg-overlay pattern">
            <div class="container">
                <div class="row mbxxl">
                    <div class="col-lg-12">
                        <h2 class="section-heading">What <span>Clients</span> Say</h2>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div id="owl-our-clients" class="owl-carousel">
                            <div class="item">
                                <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget leo nunc, nec tempus mi? Curabitur id nisl mi, ut vulputate urna. Quisque porta facilisis tortor, vitae bibendum velit fringilla vitae! Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    <cite>Raymond Webb</cite>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae consequatur aut perferendis doloribus.
                                    <cite>Bryan Carpenter</cite>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote>Donec non dui laoreet, tempor quam non, convallis eros. Aliquam blandit scelerisque nibh nec egestas. Suspendisse eu mauris pretium, molestie tortor non, ultrices leo. Suspendisse nulla turpis, pulvinar ac eleifend sit amet, gravida vel neque. Donec nec porta eros.
                                    <cite>Lawrence Miller</cite>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote>Aliquam ac diam eleifend, fermentum nisi sit amet, semper ipsum. Pellentesque vel accumsan nisi. Cras quis nibh eleifend, ultricies magna sed, blandit arcu. Donec consequat varius tortor in suscipit.
                                    <cite>Rebecca Welch</cite>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>#}
    {% block portfolio %}
        {{ render(controller('AppBundle:Default:portfolio', { 'slug': 'raboti'})) }}
    {% endblock portfolio %}
    {% block pricing %}
        {{ render(controller('AppBundle:Default:pricing', { 'slug': 'tsieny'})) }}
    {% endblock pricing %}
   {# <section id="newsletter" class="section-content section-parallax">
        <div class="bg-overlay pattern">
            <div class="container">
                <div class="row mbxxl">
                    <div class="col-lg-12">
                        <h2 class="section-heading">Our <span>Newsletter</span></h2>
                        <div class="line"></div>
                        <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <form action="" class="form-newsletter">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control" /><span class="input-group-btn"><button type="button" class="btn btn-primary">Subscribe</button></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>#}
    {% block contact %}
        {{ render(controller('AppBundle:Default:contact', { 'slug': 'kontakty'})) }}
    {% endblock contact %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
