{% extends 'base.html.twig' %}

{% set meta_title = [] %}
{% set meta_description = [] %}
{% set main_directions = [] %}
{% set privileges = [] %}
{% set homeTitle = [] %}
{% set homeCitation = [] %}

{% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':data.getClassName, 'objectId':data.id } ))|json_decode %}

 {% for key, setting in settings %}

     {% if 'meta-title' in setting.slug %}
         {% set meta_title = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
         {% set settings = settings|slice(key) %}
     {% elseif 'meta-description' in setting.slug %}
         {% set meta_description = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
         {% set settings = settings|slice(key) %}
     {% elseif 'home-title' in setting.slug %}
         {% set homeTitle = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
         {% set settings = settings|slice(key) %}
     {% elseif 'home-citation' in setting.slug %}
         {% set homeCitation = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
         {% set settings = settings|slice(key) %}
     {% elseif 'main-directions' in setting.slug %}
         {% set main_directions = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
         {% set settings = settings|slice(key) %}
     {% elseif 'privileges' in setting.slug %}
         {% set privileges = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
         {% set settings = settings|slice(key) %}
     {% endif %}

 {% endfor %}

 {% block meta_seo %}
     <meta content="" name="description"/>
     <meta content="" name="keywords"/>
     <meta content="http://merx.usavin.com" name="author"/>
     <meta property="og:title" content="{{ meta_title.value }}"/>
     <meta property="og:type" content="website"/>
     <meta property="og:url" content="{{ path(app.request.get('_route')) }}"/>
     <meta property="og:image" content="{{ asset('bundles/app/img/asphalt_moscow.png') }}"/>
     <meta property="og:description"
           content="{{ meta_description.value }}"/>
     <meta property="og:image:width" content="1800"/>
     <meta property="og:image:height" content="945"/>
 {% endblock %}

{% block main_citation %}
    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="slide-intro">
                            <h1>Все
                                <div id="rotate">
                                    {% set parts = homeTitle.value|split('|') %}
                                    {% for part in parts %}
                                        <div>{{ part }}</div>
                                    {% endfor %}
                                </div>
                            </h1>
                            <p class="intro-text">{{ homeCitation.value }}</p>
                        </div>
                        <div class="section-next page-scroll"><a href="#about" class="btn btn-circle"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    {% if main_directions|length >0 %}

        {% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':main_directions.objectClass, 'objectId':main_directions.id } ))|json_decode %}


        {% set name = [] %}
        {% set citation = [] %}
        {% set directions = [] %}
        {% for setting in settings %}
            {% if 'name' in setting.slug %}
                {% set name = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% elseif 'citation' in setting.slug %}
                {% set citation = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% elseif 'direction' in setting.slug %}
                {% set directions = directions|merge([render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode]) %}
            {% endif %}
        {% endfor %}

    <section id="about" class="section-content">
        <div class="container">
            <div class="row mbxxl">
                <div class="col-lg-12">
                    {% set first = name.value|split(' ')[0] %}
                    <h2 class="section-heading">{{ first }}<span>{{ name.value|replace({'Наши' : ' '}) }}</span></h2>
                    <div class="line"></div>
                    <p class="section-description">{{ citation.value }}</p>
                </div>
            </div>

        {% if directions|length > 0 %}
            {% set name = [] %}
            {% set citation = [] %}
            {% set icon = [] %}
            {% set url = [] %}
            <div class="row">
            {% for kay, direction in directions %}

                {% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':direction.objectClass, 'objectId':direction.id } ))|json_decode %}
                {% for sett in settings %}
                    {% if 'name' in sett.slug %}
                        {% set name = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':sett.toClassName, 'objectId':sett.toId } ))|json_decode %}
                    {% elseif 'citation' in sett.slug %}
                        {% set citation = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':sett.toClassName, 'objectId':sett.toId } ))|json_decode %}
                    {% elseif 'icon' in sett.slug %}
                        {% set icon = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':sett.toClassName, 'objectId':sett.toId } ))|json_decode %}
                    {% elseif 'url' in sett.slug %}
                        {% set url = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':sett.toClassName, 'objectId':sett.toId } ))|json_decode %}
                    {% endif %}
                {% endfor %}

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="{{ url.value }}">
                            <img src="{{ asset(icon.downloadLink)|lbImageFilter('grid_list') }}"/>
                        </a>
                        <div class="caption"><h3 class="text-black card-header">{{ name.value|capitalize }}</h3>
                            <p>{{ citation.value|slice(0, 150) ~ '...' }}</p>
                            <p><a href="{{ url.value }}" role="button" class="btn btn-primary">Подробно</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
    {% endif %}

    {% if privileges|length >0 %}
    <section id="about-1" class="section-content">
        <div class="container">
            <div class="row mbxxl">
                {#<div class="col-lg-12">
                    <h2 class="section-heading">What we <span>do</span></h2>
                    <div class="line"></div>
                    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>#}
            </div>

            <div class="row">

        {% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':privileges.objectClass, 'objectId':privileges.id } ))|json_decode %}

        {% set img = [] %}
        {% set data = [] %}

        {% for key,setting in settings %}

            {% set descr = [] %}
            {% set url = [] %}
            {% set name = [] %}

            {% set settingsDocument = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}

            {% for sett in settingsDocument %}
                {% if 'description' in sett.slug %}
                    {% set descr = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':sett.toClassName, 'objectId':sett.toId } ))|json_decode %}
                {% elseif 'image' in sett.slug %}
                    {% set img = img|merge([render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':sett.toClassName, 'objectId':sett.toId } ))|json_decode]) %}
                {% elseif 'name' in sett.slug %}
                    {% set name = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':sett.toClassName, 'objectId':sett.toId } ))|json_decode %}
                {% elseif 'url' in sett.slug or 'uel' in sett.slug %}
                    {% set url = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':sett.toClassName, 'objectId':sett.toId } ))|json_decode %}
                {% endif %}
            {% endfor %}

            {% set data = data|merge([{'descr':descr, 'name':name, 'url':url}]) %}

            {% endfor %}

                <div class="col-lg-6">
                    <div id="owl-about1" class="owl-carousel owl-theme">
                        {% for im in img %}
                        <div class="item"><img src="{{ asset(im.downloadLink)|lbImageFilter('list_gallery') }}" alt="" class="img-responsive" />
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-6">
                    <div id="accordion-support" class="panel-group">
                        {% for key,dat in data %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-support" href="#collapse{{- key -}}">
                                        {{ dat['name'].value }}</a></h4>
                            </div>
                            <div id="collapse{{- key -}}" class="panel-collapse collapse {{ key==0? 'in' : '' }}">
                                <div class="panel-body"><a href="{{- dat['url'].value -}}">{{ dat['descr'].value|raw }}</a></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
    {#<section id="about-2" class="section-content section-parallax">
        <div class="bg-overlay pattern">
            <div class="container">
                <div class="row mbxxl">
                    <div class="col-lg-12">
                        <h2 class="section-heading">What our fun <span>factors</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div data-value="1350" class="col-lg-3 text-center mbl fact">
                        <h2 class="factor">1350</h2>
                        <h3 class="factor-desc">Projects</h3>
                    </div>
                    <div data-value="720" class="col-lg-3 text-center mbl fact">
                        <h2 class="factor">720</h2>
                        <h3 class="factor-desc">Day Worked</h3>
                    </div>
                    <div data-value="350" class="col-lg-3 text-center mbl fact">
                        <h2 class="factor">350</h2>
                        <h3 class="factor-desc">Staffs</h3>
                    </div>
                    <div data-value="150" class="col-lg-3 text-center mbl fact">
                        <h2 class="factor">150</h2>
                        <h3 class="factor-desc">Clients</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>#}

{% endblock content %}