<section id="o-nas" class="section-content">
    <div class="container">
        <div class="row mbxxl">
            <div class="col-lg-12">
                {% set titles = [] %}
                {% if menu %}
                {% set titles = menu.title|split(' ') %}

                <h2 class="section-heading">
                    {% set i = 0 %}
                    {% for title in titles %}
                    {% if i >0 %}<span>{{- title -}}
                        {% else %}{{- title -}}
                            {% endif %}
                        {% set i = i + 1 %}
                {% endfor %}</span></h2>
                <div class="line"></div>
                <p class="section-description">
                    {{- menu.description -}}</p>
            {% endif %}
            </div>
        </div>
        <div class="row">
            {% set banner = {} %}
            {% set slider = {} %}
            {% for article in menu.article %}
                {% if article.getDownloadLink == '/uploads/images/' %}
                    {% set banner = banner|merge([article]) %}
                {% else %}
                    {% set slider = slider|merge([article]) %}
                {% endif %}
            {% endfor %}

            {% set i = 0 %}

            {% for article in banner %}

                {% set i = i +2 %}
                <div data-wow-delay="0.{{ i }}s" class="col-lg-3 mbl wow flipInY">
                    <a href="#">
                        <div class="icon"><i class="fa {{ article.icon }}"></i>
                        </div>
                    </a>
                    <h3>{{- article.title -}}</h3>
                    <p>{{- article.body -}}</p>
                </div>

            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="owl-about1" class="owl-carousel owl-theme">
                    {% for art in slider %}
                    <div class="item">
                        <img src="{{ art.getDownloadLink }}" alt="" class="img-responsive" />
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6">
                <div id="accordion-support" class="panel-group">
                    {% set i = 1 %}
                    {% for art in slider %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-support" href="#collapse{% if i == 1 %}One{% elseif i == 2 %}Two{% elseif i == 3 %}Three{% endif %}">
                                    <i class="fa {{ art.icon }}"></i>{{ art.title }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{% if i == 1 %}One{% elseif i == 2 %}Two{% elseif i == 3 %}Three{% endif %}"
                             class="panel-collapse collapse {% if i == 1 %}in{% endif %}">
                            <div class="panel-body">{{ art.body }}</div>
                        </div>
                    </div>
                        {% set i = i +1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>