{% extends '@App/layout.html.twig' %}
{% if data %}
{% block title %}{{- data.metaTitle -}}{% endblock %}
{% block metaDescription %}{{- data.metaDescription -}}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
            <div class="col-md-12">
                {% for art in data.article %}
                    <div class="col-sm-6">
                        <div class="col-md-4">
                            {% thumbnail art.image, 'small' with {'class': 'media-object img-circle'} %}

                        </div>
                        <div class="col-md-8">
                            <div class="col-md-12">
                                <h2> <b> {{ art.name }}</b> </h2>
                            </div>
                            <div class="col-md-12">
                                <h5>{{ art.description }}</h5>
                            </div>
                        </div>

                        {#<img src="{% path art.image, 'small' %}">#}

                        {#<h1>{{ art.gallery.name }}</h1>#}

                        {#<div class="sonata-media-gallery-media-list">#}
                            {#{% for galleryHasMedia in art.gallery.GalleryHasMedias %}#}
                                {#<div class="media sonata-media-gallery-media-item">#}
                                    {#<a class="pull-left sonata-media-gallery-media-item-link" href="{{ url('sonata_media_view', {'id': galleryHasMedia.media|sonata_urlsafeid }) }}">#}
                                        {#{% thumbnail galleryHasMedia.media, art.gallery.defaultFormat with {'class': 'media-object'} %}#}
                                    {#</a>#}
                                    {#<div class="media-body">#}
                                    {#<h4 class="media-heading">{{ galleryHasMedia.media.name }}</h4>#}
                                    {#<p>{{ galleryHasMedia.media.description|raw }}</p>#}
                                    {#</div>#}
                                {#</div>#}
                            {#{% endfor %}#}
                        {#</div>#}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
{% endif %}