<section id="raboti" class="section-content">
    {% set titles = [] %}
    {% if menu %}
    <div class="container">
        <div class="row mbxxl">
            <div class="col-md-12">
                {% set titles = menu.title|split(' ') %}

                <h2 class="section-heading">
                    {% set i = 0 %}
                    {% for title in titles %}
                    {% if i >0 %}<span>{{- title -}}
                        {% else %}{{- title -}}
                        {% endif %}
                        {% set i = i + 1 %}
                        {% endfor %}</span></h2>
                <div class="line"></div>
                <p class="section-description">{{- menu.description -}}</p>

                {% if menu.article is not null %}

                    {% set items = {} %}
                    {% set categores = [] %}

                    {% for article in menu.article %}

                        {% if article.groupName not in categores %}
                            {% set categores = categores|merge([article.groupName]) %}
                        {% endif %}

                        {% set items = items|merge([article]) %}

                    {% endfor %}

                {% endif %}

                <div id="filters">
                    <ul class="list-unstyled">
                        <li><a href="javascript:;" data-filter="*" class="active"><h3>All</h3></a>
                        </li>
                        {% for category in categores %}
                        <li><a href="javascript:;" data-filter=".{{ category|lower|replace({' ':'_'}) }}"><h3>{{ category }}</h3></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="isotope">
        <ul id="gallery-full-width" class="list-unstyled">
            {% for item in items %}
            <li class="element-item {{item.groupName|lower|replace({' ':'_'})}}">
                <a href="{{ item.getDownloadLink }}" data-lightbox="{{item.title|lower|replace({' ':'_'})}}" data-title="{{ item.title|lower }}" class="gallery-image"><img src="{{ item.getDownloadLink }}" alt="{{ item.title|lower }}" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>{{ item.title }}</h3>
                            <p class="gallery-tags">{{ item.body }}</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</section>