<section id="raboti" class="section-content">
    {% set titles = [] %}
    {% if menu %}
    <div class="container">
        <div class="row mbxxl">
            <div class="col-md-12">
                {% set titles = menu.title|split(' ') %}

                <h2 class="section-heading">
                    {% set i = 0 %}
                    {% for title in titles %}
                    {% if i >0 %}<span>{{- title -}}
                        {% else %}{{- title -}}
                        {% endif %}
                        {% set i = i + 1 %}
                        {% endfor %}</span></h2>
                <div class="line"></div>
                <p class="section-description">{{- menu.description -}}</p>

                {% if menu.article is not null %}

                    {% set items = {} %}
                    {% set categores = [] %}

                    {% for article in menu.article %}

                        {% if article.groupName not in categores %}
                            {% set categores = categores|merge([article.groupName]) %}
                        {% endif %}

                        {% set items = items|merge([article]) %}

                    {% endfor %}

                {% endif %}

                <div id="filters">
                    <ul class="list-unstyled">
                        <li><a href="javascript:;" data-filter="*" class="active"><h3>All</h3></a>
                        </li>
                        {% for category in categores %}
                        <li><a href="javascript:;" data-filter=".{{ category|lower|replace({' ':'_'}) }}"><h3>{{ category }}</h3></a>
                        </li>
                        {% endfor %}
                       {# <li><a href="javascript:;" data-filter=".development"><h3>Development</h3></a>
                        </li>
                        <li><a href="javascript:;" data-filter=".design"><h3>Design</h3></a>
                        </li>
                        <li><a href="javascript:;" data-filter=".illustration"><h3>Illustration</h3></a>
                        </li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="isotope">
        <ul id="gallery-full-width" class="list-unstyled">
            {% for item in items %}
            <li class="element-item {{item.groupName|lower|replace({' ':'_'})}}">
                <a href="{{ item.getDownloadLink }}" data-lightbox="{{item.title|lower|replace({' ':'_'})}}" data-title="{{ item.title|lower }}" class="gallery-image"><img src="{{ item.getDownloadLink }}" alt="{{ item.title|lower }}" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>{{ item.title }}</h3>
                            <p class="gallery-tags">{{ item.body }}</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
            {#<li class="element-item development illustration">
                <a href="http://swlabs.co/images/portfolio/portfolio2.jpg" data-lightbox="image-2" data-title="Image 2" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio2.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Development, Illustration</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="element-item web-design">
                <a href="http://swlabs.co/images/portfolio/portfolio3.jpg" data-lightbox="image-3" data-title="Image 3" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio3.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Web Design</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            {#<li class="element-item web-design">
                <a href="http://swlabs.co/images/portfolio/portfolio4.jpg" data-lightbox="image-4" data-title="Image 4" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio4.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Web Design</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="element-item design development">
                <a href="http://swlabs.co/images/portfolio/portfolio5.jpg" data-lightbox="image-5" data-title="Image 5" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio5.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Design, Development</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="element-item web-design development">
                <a href="http://swlabs.co/images/portfolio/portfolio6.jpg" data-lightbox="image-6" data-title="Image 6" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio6.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Web Design, Development</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="element-item design illustration">
                <a href="http://swlabs.co/images/portfolio/portfolio7.jpg" data-lightbox="image-7" data-title="Image 7" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio7.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Design, Illustration</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="element-item illustration">
                <a href="http://swlabs.co/images/portfolio/portfolio8.jpg" data-lightbox="image-8" data-title="Image 8" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio8.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Illustration</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>#}
        </ul>
    </div>
    {% endif %}
</section>