<section id="tsieny" class="section-content">
    {% set titles = [] %}
    {% if menu %}
    <div class="container">
        <div class="row mbxxl">
            <div class="col-lg-12">
                {% set titles = menu.title|split(' ') %}

                <h2 class="section-heading">
                    {% set i = 0 %}
                    {% for title in titles %}
                    {% if i >0 %}<span>{{- title -}}
                        {% else %}{{- title -}}
                        {% endif %}
                        {% set i = i + 1 %}
                        {% endfor %}</span></h2>
                <div class="line"></div>
                <p class="section-description">{{- menu.description -}}</p>

            </div>
        </div>
        <div class="row row-merge">
            {% if menu.article is not null %}

                {% set items = {} %}
                {% set textes = [] %}
                {% set parameters = [] %}
                {% set proces = [] %}
                {% set i = 0 %}
                {% for article in menu.article %}
                    {% set i = i + 2 %}
                    {% set textes = [article.body|split(',')] %}
                    {% set parameters = parameters|merge([article.icon|split(',')]) %}
                    {% set proces = proces|merge([article.footer|split(',')]) %}
                    {{ dump(parameters) }}
                    {{ dump(parameters) }}
                    <div data-wow-delay=".{{ i }}s" class="col-md-4 col-sm-8 wow fadeInLeft">
                        <div class="pricing-widget">
                            <div class="pricing-head">{{ article.title }}</div>
                            <div class="pricing-body">
                                {#<div class="pricing-cost"><strong style="display: block">$19</strong><small>per month</small>
                                </div>#}
                                <ul class="pricing-list text-center">
                                    {#<li><a class="btn btn-sm btn-default">Start your free trial!</a>
                                    </li>#}
                                    {#{% set j = 0 %}
                                    {% for text in textes %}
                                        {% set j = j + 1 %}
                                        {{ dump(parameters[j]) }}
                                        <li>{{ text }}<strong>{{ parameters[j] }} {{ proces[j] }}</strong>
                                    </li>
                                    {% endfor %}#}
                                    {#<li>Bandwidth per month <strong>100 GB</strong>
                                    </li>
                                    <li>No. of email accounts <strong>1</strong>
                                    </li>
                                    <li>No. of MySql database <strong>1</strong>
                                    </li>
                                    <li>24/7 Unlimited Support <strong>YES</strong>
                                    </li>
                                    <li>Support Tickets per month <strong>1</strong>#}
                                    </li>
                                    <li class="text-center"><a href="#" class="btn btn-primary">Buy Now</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            {% endif %}
            {#<div data-wow-delay=".2s" class="col-md-4 col-sm-8 wow fadeInLeft">
                <div class="pricing-widget">
                    <div class="pricing-head">Basic</div>
                    <div class="pricing-body">
                        <div class="pricing-cost"><strong style="display: block">$19</strong><small>per month</small>
                        </div>
                        <ul class="pricing-list text-center">
                            <li><a class="btn btn-sm btn-default">Start your free trial!</a>
                            </li>
                            <li>Amount of space <strong>10 GB</strong>
                            </li>
                            <li>Bandwidth per month <strong>100 GB</strong>
                            </li>
                            <li>No. of email accounts <strong>1</strong>
                            </li>
                            <li>No. of MySql database <strong>1</strong>
                            </li>
                            <li>24/7 Unlimited Support <strong>YES</strong>
                            </li>
                            <li>Support Tickets per month <strong>1</strong>
                            </li>
                            <li class="text-center"><a href="#" class="btn btn-primary">Buy Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
#}
           {# <div data-wow-delay=".4s" class="col-md-3 col-sm-6 wow fadeInLeft">
                <div class="pricing-widget active">
                    <div class="pricing-head">Professional</div>
                    <div class="pricing-body">
                        <div class="pricing-cost"><strong style="display: block"><span>$</span>39</strong><small>per month</small>
                        </div>
                        <ul class="pricing-list text-center">
                            <li><a class="btn btn-sm btn-default">Start your free trial!</a>
                            </li>
                            <li>Amount of space <strong>30 GB</strong>
                            </li>
                            <li>Bandwidth per month <strong>200 GB</strong>
                            </li>
                            <li>No. of email accounts <strong>10</strong>
                            </li>
                            <li>No. of MySql database <strong>10</strong>
                            </li>
                            <li>24/7 Unlimited Support <strong>YES</strong>
                            </li>
                            <li>Support Tickets per month <strong>3</strong>
                            </li>
                            <li class="text-center"><a href="#" class="btn btn-primary">Buy Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-wow-delay=".6s" class="col-md-3 col-sm-6 wow fadeInLeft">
                <div class="pricing-widget">
                    <div class="pricing-head">Business</div>
                    <div class="pricing-body">
                        <div class="pricing-cost"><strong style="display: block">$59</strong><small>per month</small>
                        </div>
                        <ul class="pricing-list text-center">
                            <li><a class="btn btn-sm btn-default">Start your free trial!</a>
                            </li>
                            <li>Amount of space <strong>100 GB</strong>
                            </li>
                            <li>Bandwidth per month <strong>500 GB</strong>
                            </li>
                            <li>No. of email accounts <strong>50</strong>
                            </li>
                            <li>No. of MySql database <strong>50</strong>
                            </li>
                            <li>24/7 Unlimited Support <strong>YES</strong>
                            </li>
                            <li>Support Tickets per month <strong>5</strong>
                            </li>
                            <li class="text-center"><a href="#" class="btn btn-primary">Buy Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-wow-delay=".8s" class="col-md-3 col-sm-6 wow fadeInLeft">
                <div class="pricing-widget">
                    <div class="pricing-head">Unlimited</div>
                    <div class="pricing-body">
                        <div class="pricing-cost"><strong style="display: block">$79</strong><small>per month</small>
                        </div>
                        <ul class="pricing-list text-center">
                            <li><a class="btn btn-sm btn-default">Start your free trial!</a>
                            </li>
                            <li>Amount of space <strong>200 GB</strong>
                            </li>
                            <li>Bandwidth per month <strong>800 GB</strong>
                            </li>
                            <li>No. of email accounts <strong>100</strong>
                            </li>
                            <li>No. of MySql database <strong>80</strong>
                            </li>
                            <li>24/7 Unlimited Support <strong>YES</strong>
                            </li>
                            <li>Support Tickets per month <strong>8</strong>
                            </li>
                            <li class="text-center"><a href="#" class="btn btn-primary">Buy Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-wow-delay=".8s" class="col-md-3 col-sm-6 wow fadeInLeft">
                <div class="pricing-widget">
                    <div class="pricing-head">Unlimited</div>
                    <div class="pricing-body">
                        <div class="pricing-cost"><strong style="display: block">$79</strong><small>per month</small>
                        </div>
                        <ul class="pricing-list text-center">
                            <li><a class="btn btn-sm btn-default">Start your free trial!</a>
                            </li>
                            <li>Amount of space <strong>200 GB</strong>
                            </li>
                            <li>Bandwidth per month <strong>800 GB</strong>
                            </li>
                            <li>No. of email accounts <strong>100</strong>
                            </li>
                            <li>No. of MySql database <strong>80</strong>
                            </li>
                            <li>24/7 Unlimited Support <strong>YES</strong>
                            </li>
                            <li>Support Tickets per month <strong>8</strong>
                            </li>
                            <li class="text-center"><a href="#" class="btn btn-primary">Buy Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div data-wow-delay=".8s" class="col-md-3 col-sm-6 wow fadeInLeft">
                <div class="pricing-widget">
                    <div class="pricing-head">Unlimited</div>
                    <div class="pricing-body">
                        <div class="pricing-cost"><strong style="display: block">$79</strong><small>per month</small>
                        </div>
                        <ul class="pricing-list text-center">
                            <li><a class="btn btn-sm btn-default">Start your free trial!</a>
                            </li>
                            <li>Amount of space <strong>200 GB</strong>
                            </li>
                            <li>Bandwidth per month <strong>800 GB</strong>
                            </li>
                            <li>No. of email accounts <strong>100</strong>
                            </li>
                            <li>No. of MySql database <strong>80</strong>
                            </li>
                            <li>24/7 Unlimited Support <strong>YES</strong>
                            </li>
                            <li>Support Tickets per month <strong>8</strong>
                            </li>
                            <li class="text-center"><a href="#" class="btn btn-primary">Buy Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>#}
        </div>
    </div>
    {% endif %}
</section>