<section id="uslughi" class="section-content">
    <div class="container">
        <div class="row mbxxl">
            <div class="col-lg-12">
                {% set titles = [] %}
                {% if menu %}
                {% set titles = menu.title|split(' ') %}

                <h2 class="section-heading">
                    {% set i = 0 %}
                    {% for title in titles %}
                    {% if i >0 %}<span>{{- title -}}
                        {% else %}{{- title -}}
                        {% endif %}
                        {% set i = i + 1 %}
                        {% endfor %}</span></h2>
                <div class="line"></div>
                <p class="section-description">{{- menu.description -}}</p>
            </div>
        </div>
        {% if menu.article is not null %}
            {% set i = 0 %}
            {% set j = 0 %}
            {% for article in menu.article %}
                {% if j == 0 or j == 4 or j == 7 %}  <div class="row list-services"> {% endif %}
                {% set i = i +2 %}
                <div data-wow-delay="0.{{ i }}s" class="col-lg-4 wow flipInY">
                    <a href="#">
                        <div class="icon"><i class="fa {{ article.icon }}"></i>
                        </div>
                    </a>
                    <h3>{{- article.title -}}</h3>
                    <p>{{- article.body -}}</p>
                </div>
                {% if j == 0 or j == 4 or j == 7 %} </div>{% endif %}
                {% set j = j +1 %}
            {% endfor %}
        {% endif %}
    {% endif %}
    </div>
</section>