<section id="uslughi" class="section-content">
    <div class="container">
        <div class="row mbxxl">
            <div class="col-lg-12">
                {% set titles = [] %}
                {% if menu %}
                {% set titles = menu.title|split(' ') %}

                <h2 class="section-heading">
                    {% set i = 0 %}
                    {% for title in titles %}
                    {% if i >0 %}<span>{{- title -}}
                        {% else %}{{- title -}}
                        {% endif %}
                        {% set i = i + 1 %}
                        {% endfor %}</span></h2>
                <div class="line"></div>
                <p class="section-description">{{- menu.description -}}</p>
            </div>
        </div>
        {% if menu.article is not null %}
            {% for i in menu.article|slice(1, 3) %}
            <div class="row list-services">
                {% set i = 0 %}
                {% for article in menu.article %}

                    {% set i = i +2 %}
                    <div data-wow-delay="0.{{ i }}s" class="col-lg-4 wow flipInY">
                        <a href="#">
                            <div class="icon"><i class="fa {{ article.icon }}"></i>
                            </div>
                        </a>
                        <h3>{{- article.title -}}</h3>
                        <p>{{- article.body -}}</p>
                    </div>

                {% endfor %}
            </div>
            {% endfor %}
            {#{% else %}#}
            {#<div class="row list-services">
                <div data-wow-delay="0.2s" class="col-lg-4 wow flipInY">
                    <a href="#">
                        <div class="icon"><i class="fa fa-rocket"></i>
                        </div>
                    </a>
                    <h3>Innovation</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                </div>
                <div data-wow-delay="0.4s" class="col-lg-4 wow flipInY">
                    <a href="#">
                        <div class="icon"><i class="fa fa-magic"></i>
                        </div>
                    </a>
                    <h3>Web Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                </div>
                <div data-wow-delay="0.6s" class="col-lg-4 wow flipInY">
                    <a href="#">
                        <div class="icon"><i class="fa fa-cogs"></i>
                        </div>
                    </a>
                    <h3>Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                </div>
            </div>
            <div class="row list-services">
                <div data-wow-delay="0.8s" class="col-lg-4 wow flipInY">
                    <a href="#">
                        <div class="icon"><i class="fa fa-camera"></i>
                        </div>
                    </a>
                    <h3>Marketing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                </div>
                <div data-wow-delay="1s" class="col-lg-4 wow flipInY">
                    <a href="#">
                        <div class="icon"><i class="fa fa-eye"></i>
                        </div>
                    </a>
                    <h3>clean coding</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                </div>
                <div data-wow-delay="1.2s" class="col-lg-4 wow flipInY">
                    <a href="#">
                        <div class="icon"><i class="fa fa-envelope-o"></i>
                        </div>
                    </a>
                    <h3>7x24 support</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
                </div>
            </div>#}
        {% endif %}
    </div>
</section>